@(title: String)(body: Html)
<html>
    <head>
        <title>@title</title>
        <link href="@routes.Assets.versioned("css/layout.css")" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <div class="container">
            @body
        </div>

        <script src="@routes.Assets.versioned("js/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/jquery.backtotop.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/jquery.mobilemenu.js")" type="text/javascript"></script>
            <!-- IE9 Placeholder Support -->
        <script src="@routes.Assets.versioned("js/jquery.placeholder.min.js")" type="text/javascript"></script>
    </body>
</html>